<!--Navigation Bar-->
<!----style="position:fixed; top:0px; left:0px; width:100%; z-index:1"--->
    <nav class="navbar navbar-expand-lg  navbar-light bg-primary " id="main_nav" style="position:fixed; top:0px; left:0px; width:100%; z-index:1; font-size:25px;" >
          <%= fa_stacked_icon "camera inverse", base: "circle"%>
            <%= link_to "Foundya!", applicants_path, class:'navbar-brand nav-text', style:'font-size:40px;'%>
              
            
        
        
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " id="about">
        <%= link_to "About Us", articles_about_path, class:'nav-link nav-text' %>
      </li>
        <li class="nav-item " id="applicants-nav-index">
        <%= link_to " All Applicants", applicants_path, class:'nav-link nav-text' %>
      </li>
      

      <% if user_signed_in?%>
      <li class="nav-item " id="applicants-nav-new">
        <%= link_to "Edit profile", new_applicant_path, class:'nav-link nav-text' %>
      </li>
    
          
          
          <li class="nav-item " id="applicants-nav-index">
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:'nav-link nav-text' %>
              </li>

          <li class="nav-item " id="applicants-nav-index">
                <%= link_to "Change Password", edit_user_registration_path, class:'nav-link nav-text' %>
              </li>
                 <li class="nav-item " id="applicants-nav-index">
                 <%= link_to "My profile", mine_path, class:'nav-link nav-text' %>

            </li>
    
      <%else%>
<li class="nav-item " id="applicants-nav-new">
        <%= link_to "Add profile", new_applicant_path, class:'nav-link nav-text' %>
      </li>
        
          <li class="nav-item " id="applicants-nav-index">
                <%= link_to "Sign Up",new_user_registration_path, class:'nav-link nav-text' %>
              </li>
          <li class="nav-item " id="applicants-nav-index">
                <%= link_to "Sign In", new_user_session_path, class:'nav-link nav-text' %>
              </li>
           

      <%end%>



      
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/search" id="form1">
      <input class="form-control mr-sm-2" type="search" name="q" id="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit"  value="submit" onclick="convert()">Search</button>
    </form>
  </div>    </nav>
  <script>
  function convert() 
{
    var str ;
    str = document.getElementById("search");
    str.value = (str.value.toLowerCase());
    //get the form id and submit it
    var form = document.getElementById("form1");
    form.submit();
}
  </script>